<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html{
            /* This image will be displayed fullscreen */
            background:url('http://www.freevector.com/uploads/vector/preview/5130/FreeVector-Night-Vector-Landscape.jpg') no-repeat center center;

            /* Ensure the html element always takes up the full height of the browser window */
            min-height:100%;

            /* The Magic */
            background-size:cover;
        }

        body{
            /* Workaround for some mobile browsers */
            min-height:100%;
        }
        #svg {margin-left:auto; margin-right:auto; display:block; padding-top: 100px;}
    </style>
</head>
<body>
<div>
    Сытость: <span id="satiety"></span>%
</div>
<div>
    Энергия: <span id="energy"></span>%
</div>
<div>
    Настроение: <span id="mood"></span>%
</div>
<div>
    <button id="new_game" type="button">Новая игра</button>
</div>
<svg id="svg" width="467px" height="472px" viewBox="0 0 467 472" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <path d="M187.691406,118.746094 C197.121094,126.691406 229.511719,132.59375 229.511719,132.59375 L265.71875,140.886719 L298.539062,150.523438 L338.34375,174.136719 L368.46875,205.261719 L394.425781,249.457031 L403.453125,288.957031 L406.539062,314.136719 L400.800781,367.886719 L390.039062,402.21875 L369.550781,440.371094 L360.523438,456.300781 L321.71875,457.691406 L299.011719,454.566406 L311.511719,421.355469 L315.675781,398.523438 L321.925781,370.136719 L321.925781,341.011719" id="Path-2" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M321.359375,371.980469 C295.96875,376.886719 288.121094,376.886719 288.121094,376.886719 C288.121094,376.886719 269.956568,351.381201 279.234375,350.011719" id="Path-3" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M288.734375,376.761719 L279.832031,404.203125 L271.316406,438.039062 L248.304688,435.953125 L227.066406,433.21875 L232.929688,399.664062 L237.011719,367.582031 C237.011719,367.582031 212.873635,328.547183 232.152344,331.96875" id="Path-4" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M308.246094,427.75 L275.5,422.5" id="Path-6" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M227.082031,425.886719 L185.234375,420.902344 L196.34375,391.597656" id="Path-7" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M196.566406,392.652344 L192.261719,365.652344" id="Path-8" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M191.371094,365.359375 L234.707031,375.039062" id="Path-9" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M51.8203125,188.425781 L52.2929688,206.484375 L54.2929688,225.203125 L55.3320312,232.109375 L58.4179688,245.398438 L70.8320312,262.71875 L82.984375,280.34375 L98.0546875,292.328125 L117.417969,310.21875 L132.917969,327.105469 L151.804688,331.96875 L159.359375,337.789062 L175.082031,347.730469 L192.417969,365.71875" id="Path-11" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <ellipse id="Oval-1" stroke="#979797" opacity="0.611298974" fill="#9E9E9E" sketch:type="MSShapeGroup" cx="201" cy="424.5" rx="32" ry="13.5"></ellipse>
        <ellipse id="Oval-2" stroke="#979797" opacity="0.617129198" fill="#A0A0A0" sketch:type="MSShapeGroup" cx="252.5" cy="435.5" rx="31.5" ry="13.5"></ellipse>
        <ellipse id="Oval-3" stroke="#979797" opacity="0.744811101" fill="#D8D8D8" sketch:type="MSShapeGroup" cx="290" cy="426" rx="19" ry="10"></ellipse>
        <ellipse id="Oval-4" stroke="#979797" opacity="0.799323694" fill="#D8D8D8" sketch:type="MSShapeGroup" cx="335" cy="457.5" rx="45" ry="13.5"></ellipse>
        <path d="M356.097656,189.496094 C389.734375,182.59375 419.734375,163.273438 419.734375,163.273438 L405.582031,144.957031 L388.652344,153.941406 L389.390625,165.71875 L399.722656,182.207031 L437.75,174.914062 L458.929688,139.582031" id="Path-12" stroke="#6D2929" stroke-width="15" sketch:type="MSShapeGroup"></path>
        <ellipse id="Oval-5" stroke="#750202" stroke-width="4" sketch:type="MSShapeGroup" transform="translate(157.500000, 179.500000) rotate(-10.000000) translate(-157.500000, -179.500000) " cx="157.5" cy="179.5" rx="21.5" ry="33.5"></ellipse>
        <ellipse id="Oval-6" stroke="#750202" stroke-width="4" sketch:type="MSShapeGroup" transform="translate(78.000000, 179.500000) rotate(13.000000) translate(-78.000000, -179.500000) " cx="78" cy="179.5" rx="19" ry="28.5"></ellipse>
        <path d="M107.320312,236.761719 C122.863281,236.761719 140.628906,234.246094 140.628906,234.246094 L159.363281,224.773438" id="Path-13" stroke="#750202" stroke-width="3" sketch:type="MSShapeGroup"></path>
        <path d="M126.335938,234.441406 C132.890625,254.289062 141.878906,260.96875 141.878906,260.96875 L156.085938,256.925781 L162.988281,243.328125 L161.03125,224.71875" id="Path-14" stroke="#750202" stroke-width="3" sketch:type="MSShapeGroup"></path>
        <path d="M137.890625,254.484375 L148.058594,242.539062 L161.128906,235.328125" id="Path-15" stroke="#750202" stroke-width="4" sketch:type="MSShapeGroup"></path>
        <ellipse id="Oval-7" stroke="#750202" stroke-width="3" fill="#FF8989" sketch:type="MSShapeGroup" cx="107" cy="217.5" rx="19" ry="13.5"></ellipse>
        <ellipse id="Oval-8" stroke="#F40202" stroke-width="3" fill="#000000" sketch:type="MSShapeGroup" cx="157" cy="174.5" rx="12" ry="18.5"></ellipse>
        <ellipse id="Oval-9" stroke="#FF0000" stroke-width="3" fill="#000000" sketch:type="MSShapeGroup" transform="translate(76.500000, 179.000000) rotate(16.000000) translate(-76.500000, -179.000000) " cx="76.5" cy="179" rx="8.5" ry="14"></ellipse>
        <ellipse id="Oval-10" stroke="#FFFFFF" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="154" cy="174" rx="4" ry="5"></ellipse>
        <circle id="Oval-11" stroke="#FFFFFF" fill="#FFFDFD" sketch:type="MSShapeGroup" cx="78" cy="179" r="5"></circle>
        <path d="M158.652344,101 L188.429688,120" id="Path-16" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M67.359375,127.789062 L37.8867188,116.136719 L32.8867188,97.1367188 L33.5820312,67.3164062 L42.625,45.5820312 L62.6640625,50.0117188 L81.09375,67.1367188 L92.1367188,93.1796875 L96.8320312,110.609375" id="Path-15" stroke="#750202" stroke-width="10" fill="#E88C00" sketch:type="MSShapeGroup"></path>
        <path d="M51.8203125,207.712476 L53.9567436,163.944011 L61.7529135,132.846229 L94.5449265,111.428417 L123.633258,102.676599 L159.820312,101.429688" id="Path-15" stroke="#750202" stroke-width="10" sketch:type="MSShapeGroup"></path>
        <path d="M130.570312,98.1367188 L115.640625,68.0117188 L120.457031,39.7070312 L137.652344,20.984375 L156.542969,35.5273438 L171.082031,61.3164062 L163.875,79.984375 L157.375,98.609375" id="Path-16" stroke="#750202" stroke-width="10" fill="#E88C00" sketch:type="MSShapeGroup"></path>
        <path d="M360.929688,443.246094 L385.5,401.359375 L396.179688,367.761719 L402.738281,315.082031 L390.707031,251.511719 L365.707031,208.664063 L334.179688,176.527344 L297.929688,155.859375 L247.902344,141.191406 L202.277344,131.816406 L159.597656,107.929688 L126.78125,107.5 L99.515625,115.359375 L68.25,133.941406 L60.65625,160.582031 L58.6132812,196.066406 L57.0429688,207.941406 L62.0859375,239.21875 L81.265625,269.734375 L116.820312,300.816406 L134.097656,320.011719 L150.070312,327.261719 L175.25,343.761719 L192.835938,359.398438 L234.652344,368.957031 L221.238281,348.21875 L221.238281,330.191406 L233.265625,325.332031 L232.960938,336.414062 L232.472656,344.175781 L235.210938,353.609375 L241.375,363.386719 L235.683594,420.121094 L257.085938,422.164062 L269.765625,423.207031 L284.222656,380.761719 L270.335938,353.800781 L279.195312,343.289062 L281.445312,352.925781 L289.429688,369.082031 L319.265625,367.039062 L317.265625,341.675781 L328.027344,341.984375 L327.113281,373.121094 L318.554688,414.84375 L309.613281,443.96875 L347.5,443.484375" id="Path-17" fill-opacity="0.3" fill="#FF9A00" sketch:type="MSShapeGroup"></path>
        <path d="M199.113281,373.761719 L202.195312,391.203125 L195.335938,408.925781 L224.042969,414.011719 L231.292969,378.371094 L199.113281,373.761719 Z" id="Path-18" stroke="#979797" fill-opacity="0.5" fill="#E88C00" sketch:type="MSShapeGroup"></path>
        <path d="M294.097656,381.691406 L283.113281,414.675781 L297.125,414.761719 L306.335938,420.539062 L316.015625,376.953125 L294.097656,381.691406 Z" id="Path-19" stroke="#979797" fill-opacity="0.5" fill="#E88C00" sketch:type="MSShapeGroup"></path>
    </g>
</svg>
<script src="https://code.jquery.com/jquery-2.2.3.js"></script>
<script src="jquery.cookie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js" type="text/javascript"></script>
<script>

    var isSatietyUp = false;
    var isEnergyUp = false;
    var isMoodUp = false;

    var hidden = null;
    var visibilityState  = null;
    var visibilityChange = null;

    if ('hidden' in document) {
        hidden           = 'hidden';
        visibilityState  = 'visibilityState';
        visibilityChange = 'visibilitychange';
    } else if ('mozHidden' in document) {
        hidden           = 'mozHidden';
        visibilityState  = 'mozVisibilityState';
        visibilityChange = 'mozvisibilitychange';
    } else if ('webkitHidden' in document) {
        hidden           = 'webkitHidden';
        visibilityState  = 'webkitVisibilityState';
        visibilityChange = 'webkitvisibilitychange';
    }

    document.addEventListener(visibilityChange, function () {
        var s = Snap("#svg");
        var c = Snap.select("#Oval-8");
        if (!document[hidden]) {
            //c.animate({rx: 50, ry: 50}, 3000);
            //c.animate({rx: 50, ry: 50}, 3000);
        }
        if (document[hidden]) {
            isEnergyUp = true;
        }
    });


    $( document ).ready(function() {

        var SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        var recognizer = new SpeechRecognition();

        recognizer.lang = 'en-US';
        recognizer.continuous = true;

        recognizer.start();

        recognizer.onresult = function (e) {
            var index = e.resultIndex;
            var result = e.results[index][0].transcript.trim();

            if (result.toLowerCase().length > 3) {
                isMoodUp = true;
            }
        };

        if (navigator.getBattery) {
            navigator
                    .getBattery()
                    .then(initBattery);

            function initBattery(battery) {
                battery.onchargingchange = updateCharging;
                battery.onchargingchange();
            }
        }

        function updateCharging() {
            if (this.charging) {
                isEnergyUp = true;
            } else {
                isEnergyUp = false;
            }
        }


        $('#new_game').click(function() {

            $.cookie('satiety', 100);
            $.cookie('energy', 100);
            $.cookie('mood', 100);

            satiety = $.cookie('satiety');
            energy = $.cookie('energy');
            mood = $.cookie('mood');

            $('#satiety').text(satiety);
            $('#energy').text(energy);
            $('#mood').text(mood);

        });

        var satiety = $.cookie('satiety');
        var energy = $.cookie('energy');
        var mood = $.cookie('mood');

        if (!satiety) {
            var satiety = $.cookie('satiety', 100);
        }
        if (!energy) {
            var energy = $.cookie('energy', 100);
        }
        if (!mood) {
            var mood = $.cookie('mood', 100);
        }

        satiety = $.cookie('satiety');
        energy = $.cookie('energy');
        mood = $.cookie('mood');

        $('#satiety').text(satiety);
        $('#energy').text(energy);
        $('#mood').text(mood);

        function downParams() {
            if (!isSatietyUp) {
                satiety -= 1;
            } else if (satiety < 100){
                satiety = Math.min(satiety + 3, 100);
            }

            $.cookie('satiety', satiety);
            $('#satiety').text(satiety);

            if (!isEnergyUp) {
                energy -= 1;
            } else if (energy < 100) {
                energy = Math.min(energy + 3, 100);
            }

            $.cookie('energy', energy);
            $('#energy').text(energy);

            if (!isMoodUp) {
                mood -= 1;
            } else if (mood < 100) {
                mood = Math.min(mood + 3, 100);
                isMoodUp = false;
            }

            $.cookie('mood', mood);
            $('#mood').text(mood);
        }

        setInterval(downParams, 5000)


    });
    var s = Snap("#svg");
    // Lets create big circle in the middle:
    //var body = s.ellipse(300, 300, 215, 70);
    var c = Snap.select("#Oval-8");
    //c.animate({rx: 50, ry: 50}, 1000);
    //c.animate({rx: 50, ry: 50}, 1000);
    //console.log(c);
    //        var circ1 = s.circle(100, 100, 50);
    //        var circ2 = s.circle(200, 150, 100);
    //        var rect1 = s.rect(100,100,100,100,20,20).attr({ stroke: '#123456', 'strokeWidth': 20, fill: 'red' });
</script>
</body>
</html>